In [2]:
titleType = 'movie'
titleDataset = './dataset/title.basics.tsv'
titleAkaDataset = './dataset/title.akas.tsv'

In [3]:
import pandas as pd
import numpy as np

In [4]:
titleDataFrame = pd.read_table(titleDataset)
titleDataFrame

/Users/numa08/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8157986,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8157987,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8157988,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8157989,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8157990,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [5]:
# isAdult以降のデータがずれている物があるので、手直し
titleDataFrame.loc[1101527, 'isAdult':] = [0 ,2019, '\\N', '\\N', 'Reality-TV']
titleDataFrame.at[1101527, 'originalTitle'] = titleDataFrame.at[1101527, 'primaryTitle']
titleDataFrame.loc[1522836, 'isAdult':] = [0, 2019, '\\N', '\\N', '\\N']
titleDataFrame.at[1522836, 'originalTitle'] = titleDataFrame.at[1522836, 'primaryTitle']
titleDataFrame.loc[1920329, 'isAdult':] = [0, 1981, '\\N', '\\N', 'Documentary']
titleDataFrame.at[1920329, 'originalTitle'] = titleDataFrame.at[1920329, 'primaryTitle']
titleDataFrame.loc[2034016, 'isAdult':] = [0, 2020, '\\N', '\\N', 'Talk-Show']
titleDataFrame.at[2034016, 'originalTitle'] = titleDataFrame.at[2034016, 'primaryTitle']
titleDataFrame.loc[2194165, 'isAdult':] = [0, 2020, '\\N', '\\N', 'Game-Show']
titleDataFrame.at[2194165, 'originalTitle'] = titleDataFrame.at[2194165, 'primaryTitle']
titleDataFrame.loc[2344801, 'isAdult':] = [0, 2017, '\\N', '\\N', 'Reality-TV']
titleDataFrame.at[2344801, 'originalTitle'] = titleDataFrame.at[2344801, 'primaryTitle']
titleDataFrame.loc[3079897, 'isAdult':] = [0, '\\N', '\\N', '\\N', 'Animation,Comedy,Family']
titleDataFrame.at[3079897, 'originalTitle'] = titleDataFrame.at[3079897, 'primaryTitle']
titleDataFrame.loc[5427437, 'isAdult':] = [0, 2014, '\\N', '\\N', 'Reality-TV']
titleDataFrame.at[5427437, 'originalTitle'] = titleDataFrame.at[5427437, 'primaryTitle']
titleDataFrame.loc[8105169, 'isAdult':] = [0, 2019, '\\N', '\\N', '\\N']
titleDataFrame.at[8105169, 'originalTitle'] = titleDataFrame.at[8105169, 'primaryTitle']
titleDataFrame.loc[8146263, 'isAdult':] = [0, 2005, '\\N', '\\N', '\\N']
titleDataFrame.at[8146263, 'originalTitle'] = titleDataFrame.at[8146263, 'primaryTitle']

In [6]:
titleAkasDataFrame = pd.read_table(titleAkaDataset)
titleAkasDataFrame

/Users/numa08/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
28145605,tt9916852,4,エピソード #3.20,JP,ja,\N,\N,0
28145606,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
28145607,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
28145608,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
28145609,tt9916856,1,The Wind,DE,\N,\N,\N,0

In [7]:
# ユニークなジャンルマスタを作る
allGenreSet = set()
def split_genres(ga):
    try:
        for g in ga.split(','):
            allGenreSet.add(g)
    except:
        print(ga)
titleDataFrame['genres'].dropna(how='all').map(split_genres)
allGenreSet.remove('\\N')
allGenreSet

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}

In [8]:
import sqlite3

In [9]:
dbConnection = sqlite3.connect("movie.db")

In [10]:
for genre in allGenreSet:
    query = "INSERT INTO genre_master(genre) VALUES (?)"
    values = (genre,)
    dbConnection.execute(query, values)

In [11]:
dbConnection.commit()

In [12]:
def strOrNull(value):
    if value == r'\N':
        return "NULL"
    else:
        return value
def intOrNull(value):
    if value == r'\N':
        return 'NULL'
    else:
        return value
def boolOrFalse(value):
    if value == r'\N':
        return 0
    else:
        return value

In [14]:
titleHandled = titleDataFrame.iloc[:100]

In [15]:
# CREATE TABLE "title" (
# 	"tconst"	TEXT NOT NULL UNIQUE,
# 	"primaryTitle"	TEXT,
# 	"originalTitle"	TEXT,
# 	"isAdult"	INTEGER CHECK("isAdult" = 0 OR "isAdult" = 1),
# 	"startYear"	INTEGER,
# 	"endYear"	INTEGER,
# 	"runtimeMinutes"	INTEGER,
# 	"titleType"	TEXT,
# 	PRIMARY KEY("tconst")
# )

for title in titleHandled.itertuples():
    query = u'''INSERT INTO title(tconst, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, titleType) VALUES(?, ?, ?, ?, ?, ?, ?, ?)'''
    values = (title.tconst, strOrNull(title.primaryTitle), strOrNull(title.originalTitle), int(title.isAdult), intOrNull(title.startYear), intOrNull(title.endYear), intOrNull(title.runtimeMinutes), strOrNull(title.titleType))
    try:
        dbConnection.execute(query, values)
    except sqlite3.IntegrityError as e:
        print(values)
        raise e

In [16]:
# dbConnection.rollback()
dbConnection.commit()

In [23]:
titleAkasHandled = pd.merge(titleAkasDataFrame, titleHandled, how='inner', left_on=['titleId'], right_on=['tconst']).loc[0:,'titleId':'isOriginalTitle']

In [30]:
# CREATE TABLE "title_aka" (
# 	"titleId"	TEXT NOT NULL,
# 	"title"	TEXT,
# 	"region"	TEXT,
# 	"language"	TEXT,
# 	"isOriginalTitle"	INTEGER CHECK("isOriginalTitle" = 0 OR "isOriginalTitle" = 1),
# 	FOREIGN KEY("titleId") REFERENCES "title"("tconst")
# )
for title in titleAkasHandled.itertuples():
    query = u'''INSERT INTO title_aka(titleId, title, region, language, isOriginalTitle) VALUES(?, ?, ?, ?, ?)'''
    values = (title.titleId, strOrNull(title.title), strOrNull(title.region), strOrNull(title.language), boolOrFalse(title.isOriginalTitle))
    try:
        dbConnection.execute(query, values)
    except (sqlite3.IntegrityError, ValueError) as e:
        print(values)
        raise e

In [29]:
dbConnection.commit()

In [26]:
# CREATE TABLE "title_genre" (
# 	"titleid"	TEXT NOT NULL,
# 	"genreid"	INTEGER NOT NULL,
# 	FOREIGN KEY("titleid") REFERENCES "title"("tconst"),
# 	FOREIGN KEY("genreid") REFERENCES "genre_master"("id")
# )

for title in titleHandled[titleHandled['genres'] != '\\N'].itertuples():
    for genre in title.genres.split(','):
        select = '''SELECT id FROM genre_master WHERE genre = ?'''
        select_values = (genre,)
        genre_id = dbConnection.execute(select, select_values).fetchone()[0]
        insert = '''INSERT INTO title_genre(titleId, genreid) VALUES(?, ?)'''
        insert_values = (title.tconst, genre_id)
        dbConnection.execute(insert, insert_values)

In [27]:
dbConnection.commit()