In [1]:
titleType = 'movie'
titleDataset = './dataset/title.basics.tsv'
titleAkaDataset = './dataset/title.akas.tsv'

In [2]:
import pandas as pd
import numpy as np

In [3]:
titleDataFrame = pd.read_table(titleDataset)
titleDataFrame

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8149918,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8149919,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8149920,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8149921,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8149922,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [4]:
titleDataFrame.loc[1101527, 'tconst':]

tconst                                                   tt10233364
titleType                                                 tvEpisode
primaryTitle      Rolling in the Deep Dish\tRolling in the Deep ...
originalTitle                                                     0
isAdult                                                        2019
startYear                                                        \N
endYear                                                          \N
runtimeMinutes                                           Reality-TV
genres                                                          NaN
Name: 1101527, dtype: object

In [5]:
# isAdult以降のデータがずれている物があるので、手直し
titleDataFrame.loc[1101527, 'isAdult':] = [0 ,2019, '\\N', '\\N', 'Reality-TV']
titleDataFrame.at[1101527, 'originalTitle'] = titleDataFrame.at[1101527, 'primaryTitle']
titleDataFrame.loc[1522836, 'isAdult':] = [0, 2019, '\\N', '\\N', '\\N']
titleDataFrame.at[1522836, 'originalTitle'] = titleDataFrame.at[1522836, 'primaryTitle']
titleDataFrame.loc[1920329, 'isAdult':] = [0, 1981, '\\N', '\\N', 'Documentary']
titleDataFrame.at[1920329, 'originalTitle'] = titleDataFrame.at[1920329, 'primaryTitle']
titleDataFrame.loc[2034016, 'isAdult':] = [0, 2020, '\\N', '\\N', 'Talk-Show']
titleDataFrame.at[2034016, 'originalTitle'] = titleDataFrame.at[2034016, 'primaryTitle']
titleDataFrame.loc[2194165, 'isAdult':] = [0, 2020, '\\N', '\\N', 'Game-Show']
titleDataFrame.at[2194165, 'originalTitle'] = titleDataFrame.at[2194165, 'primaryTitle']
titleDataFrame.loc[2344801, 'isAdult':] = [0, 2017, '\\N', '\\N', 'Reality-TV']
titleDataFrame.at[2344801, 'originalTitle'] = titleDataFrame.at[2344801, 'primaryTitle']
titleDataFrame.loc[3079897, 'isAdult':] = [0, '\\N', '\\N', '\\N', 'Animation,Comedy,Family']
titleDataFrame.at[3079897, 'originalTitle'] = titleDataFrame.at[3079897, 'primaryTitle']
titleDataFrame.loc[5427437, 'isAdult':] = [0, 2014, '\\N', '\\N', 'Reality-TV']
titleDataFrame.at[5427437, 'originalTitle'] = titleDataFrame.at[5427437, 'primaryTitle']
titleDataFrame.loc[8105169, 'isAdult':] = [0, 2019, '\\N', '\\N', '\\N']
titleDataFrame.at[8105169, 'originalTitle'] = titleDataFrame.at[8105169, 'primaryTitle']
titleDataFrame.loc[8146263, 'isAdult':] = [0, 2005, '\\N', '\\N', '\\N']
titleDataFrame.at[8146263, 'originalTitle'] = titleDataFrame.at[8146263, 'primaryTitle']

In [6]:
titleDataFrame.loc[3079897, :]

tconst                                                   tt13704268
titleType                                                 tvEpisode
primaryTitle      Bay of the Triffids/Doctor of Doom\tBay of the...
originalTitle     Bay of the Triffids/Doctor of Doom\tBay of the...
isAdult                                                           0
startYear                                                        \N
endYear                                                          \N
runtimeMinutes                                                   \N
genres                                      Animation,Comedy,Family
Name: 3079897, dtype: object

In [7]:
titleDataFrame[titleDataFrame['tconst'] == 'tt9909210']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8146263,tt9909210,tvEpisode,Politik und/oder Moral - Wie weit geht das Ver...,Politik und/oder Moral - Wie weit geht das Ver...,0,2005,\N,\N,\N

In [8]:
titleDataFrame.loc[1101527, 'tconst':]

tconst                                                   tt10233364
titleType                                                 tvEpisode
primaryTitle      Rolling in the Deep Dish\tRolling in the Deep ...
originalTitle     Rolling in the Deep Dish\tRolling in the Deep ...
isAdult                                                           0
startYear                                                      2019
endYear                                                          \N
runtimeMinutes                                                   \N
genres                                                   Reality-TV
Name: 1101527, dtype: object

In [9]:
titleAkasDataFrame = pd.read_table(titleAkaDataset)
titleAkasDataFrame

/usr/local/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
28168676,tt9916852,4,エピソード #3.20,JP,ja,\N,\N,0
28168677,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
28168678,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
28168679,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
28168680,tt9916856,1,The Wind,DE,\N,\N,\N,0

In [10]:
titleDataFrame['genres']

0                 Documentary,Short
1                   Animation,Short
2          Animation,Comedy,Romance
3                   Animation,Short
4                      Comedy,Short
                     ...
8149918         Action,Drama,Family
8149919         Action,Drama,Family
8149920         Action,Drama,Family
8149921                       Short
8149922     Animation,Comedy,Family
Name: genres, Length: 8149923, dtype: object

In [11]:
# ユニークなジャンルマスタを作る
allGenreSet = set()
def split_genres(ga):
    try:
        for g in ga.split(','):
            allGenreSet.add(g)
    except:
        print(ga)
titleDataFrame['genres'].dropna(how='all').map(split_genres)
allGenreSet.remove('\\N')
allGenreSet

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western'}

In [12]:
import sqlite3

In [13]:
dbConnection = sqlite3.connect("movie.db")

In [14]:
for genre in allGenreSet:
    query = "INSERT INTO genre_master(genre) VALUES (?)"
    values = (genre,)
    dbConnection.execute(query, values)

In [15]:
dbConnection.commit()

In [16]:
movieTitleDataFrame = titleDataFrame[titleDataFrame['titleType'] == 'movie']
movieTitleDataFrame

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
8149812,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
8149839,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
8149851,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
8149862,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
8149873,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [17]:
def strOrNull(value):
    if value == r'\N':
        return "NULL"
    else:
        return value
def intOrNull(value):
    if value == r'\N':
        return 'NULL'
    else:
        return value
def boolOrFalse(value):
    if value == r'\N':
        return 0
    else:
        return value

In [20]:
# CREATE TABLE "title" (
# 	"tconst"	TEXT NOT NULL UNIQUE,
# 	"primaryTitle"	TEXT,
# 	"originalTitle"	TEXT,
# 	"isAdult"	INTEGER CHECK("isAdult" = 0 OR "isAdult" = 1),
# 	"startYear"	INTEGER,
# 	"endYear"	INTEGER,
# 	"runtimeMinutes"	INTEGER,
# 	"titleType"	TEXT,
# 	PRIMARY KEY("tconst")
# )

for title in titleDataFrame.itertuples():
    query = u'''INSERT INTO title(tconst, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, titleType) VALUES(?, ?, ?, ?, ?, ?, ?, ?)'''
    values = (title.tconst, strOrNull(title.primaryTitle), strOrNull(title.originalTitle), int(title.isAdult), intOrNull(title.startYear), intOrNull(title.endYear), intOrNull(title.runtimeMinutes), strOrNull(title.titleType))
    try:
        dbConnection.execute(query, values)
    except sqlite3.IntegrityError as e:
        print(values)
        raise e

In [ ]:
# dbConnection.rollback()
dbConnection.commit()

In [ ]:
# CREATE TABLE "title_aka" (
# 	"titleId"	TEXT NOT NULL,
# 	"title"	TEXT,
# 	"region"	TEXT,
# 	"language"	TEXT,
# 	"isOriginalTitle"	INTEGER CHECK("isOriginalTitle" = 0 OR "isOriginalTitle" = 1),
# 	FOREIGN KEY("titleId") REFERENCES "title"("tconst")
# )
for title in titleAkasDataFrame.itertuples():
    query = u'''INSERT INTO title_aka(titleId, title, region, language, isOriginalTitle) VALUES(?, ?, ?, ?, ?)'''
    values = (title.titleId, strOrNull(title.title), strOrNull(title.region), strOrNull(title.language), boolOrFalse(title.isOriginalTitle))
    try:
        dbConnection.execute(query, values)
    except (sqlite3.IntegrityError, ValueError) as e:
        print(values)
        raise e

In [ ]:
dbConnection.commit()

In [ ]:
# CREATE TABLE "title_genre" (
# 	"titleid"	TEXT NOT NULL,
# 	"genreid"	INTEGER NOT NULL,
# 	FOREIGN KEY("titleid") REFERENCES "title"("tconst"),
# 	FOREIGN KEY("genreid") REFERENCES "genre_master"("id")
# )

for title in titleDataFrame[titleDataFrame['genres'] != '\\N'].itertuples():
    for genre in title.genres.split(','):
        select = '''SELECT id FROM genre_master WHERE genre = ?'''
        select_values = (genre,)
        genre_id = dbConnection.execute(select, select_values).fetchone()[0]
        insert = '''INSERT INTO title_genre(titleId, genreid) VALUES(?, ?)'''
        insert_values = (title.tconst, genre_id)
        dbConnection.execute(insert, insert_values)

In [ ]:
dbConnection.commit()